/*------------------------------------*\
    RESET
\*------------------------------------*/
body,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img{
    border:0;
}
address,caption,cite,code,dfn,th,var{
    font-style:normal;
    font-weight:normal;
}
caption,th{
    text-align:left;
}
q:before,q:after {
    content:'';
}
abbr,acronym{
    border:0;
}



/*------------------------------------*\
    NAV
\*------------------------------------*/
#nav{
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    /* Clear floats */
    float:right;
    width:400;
    height:80;
    padding-top:60;
    cursor:default;
    /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */
}
#nav li{
    float:left;
    margin-right:10px;
    position:relative;
}
#nav a{
    display:block;
    padding:3px 8px;
    color:#fff;
    text-decoration:none;
}
#nav a:hover {
    color:#fff;
    text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
    padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#nav ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
   background:#505050;
   text-decoration:underline;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}
#nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#4e71a8;
    cursor:auto;
}

body{
    background-color:#e9eaec;
}

p{
    color:#0f2445;
    font-size:100%;
    width:450px;
    /*padding:10px;
    margin:10px;*/
}

iframe{
    background-color:#e9eaec;
}

/*table{
    padding:10px;
}*/

#wrapper{
    margin:auto;
    width:960;
    height:860;
    background-color:#FFFFFF;
}

#header{
    height:200;
    background-color:#202020;
}

#printHeader{
    display:none;
}

#content{
    font-family:Verdana, Geneva, sans-serif;
    font-size:100%;
    width:700;
    float:right;
    /*text-align:center;*/
}

/*
ul#nav{
    padding-top:70;
    padding-left:100;
    padding-right:25;
    width:500;
    height:80;
    float:right;
}

ul#nav li{
    display:inline;
}

ul#nav li a{
    text-decoration:none;
    padding:10px 0;
    width:100px;
    color:#eee;
    float:left;
    text-align:center;
}

ul#nav li a:hover {
    background:#505050;
}
*/

#hours{
    width:140;
    height:600;
    float:left;
    padding-left:40;
}

#search{
    float:right;
    width:700;

}

#calendar{
    padding-top:20;
    padding-left:40;
}

#contact{
    padding-top:10;
}

#footer{
    background-color:#202020;
    height:40;
    color:#FFFFFF;
    clear:both;
    padding-top:20;
    padding-left:20;
}
