body{
    background-color:#e9eaec;
}

p{
    color:#0f2445;
    font-size:100%;
    width:450px;
    /*padding:10px;
    margin:10px;*/
}

iframe{
    background-color:#e9eaec;
}

#wrapper{
    margin:auto;
    width:960;
    height:860;
    background-color:#FFFFFF;
}

#header{
    display:none;
    height:200;
    background-color:#202020;
}

#printHeader{
    display:inline;
    height:400;
    padding-left:15;
    padding-bottom:25;
    padding-top:25;
}

#content{
    font-family:Verdana, Geneva, sans-serif;
    font-size:100%;
    width:700;
    float:right;
}

ul#nav{
    display:none;
    padding-top:70;
    padding-left:100;
    padding-right:25;
    width:500;
    height:80;
    float:right;
}

ul#nav li{
    display:none;
    display:inline;
}

ul#nav li a{
    display:none;
    text-decoration:none;
    padding:10px 0;
    width:100px;
    color:#eee;
    float:left;
    text-align:center;
}

ul#nav li a:hover {
    display:none;
    background:#505050;
}

#hours{
    width:140;
    height:600;
    float:left;
    padding-left:20;
}

#search{
    display:none;
    float:right;
    width:700;

}

#calendar{
    padding-top:20;
    padding-left:40;
}

#contact{
    padding-top:10;
}

#footer{
    display:none;
    background-color:#202020;
    height:40;
    color:#FFFFFF;
    clear:both;
    padding-top:20;
    padding-left:20;
}
